body {
    background-color: rgb(68, 123, 185);
}

.cabecalho {
    background-color: rgb(5, 84, 129);
    color: whitesmoke;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 25px;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 30%;
}

.titulo {
    color: aliceblue;
}

p {
    color: aliceblue;
}

.imgcentro {
    width: 300px;   /* Define uma largura fixa (pode ser ajustada) */
    height: 300px;    /* Define uma altura fixa e igual à largura */
    border-radius: 50%;    /* Transforma o elemento em um círculo/oval */
    object-fit: cover;    /* Garante que a imagem preencha o círculo sem distorção, cortando as bordas extras, se necessário */
    display: block;    /* Garante que a imagem se comporte como um bloco para centralização básica se necessário */
    border: 3px solid rgb(5, 84, 129);    /* Borda opcional */
}

.nav {

}

ul{
    display: block;
}

li {
    display: inline-block;
    margin: 30px;
    padding: 20px;
    font-size: 50px;

}

li a {
    text-decoration: none;
    color: white;
}

.button {
    font-size: 16px;
    color: rgb(39, 7, 24);

}

.rodape {
    background-color: rgb(5, 84, 129);
    color: black;
    text-align: center;
    padding: 15px;
    margin-top: 15px;
    font-size: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;

}
.card {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}


/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx  */
@media(max-width : 768px){
    body{
        font-size: 16px ;
        text-align: center;
    }
    .card{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .card img{
        width: 150px;
        height: 150px;
    }
    .menu {
        display: flex;
        flex-direction:column;
        gap: 10px;
        font-size: 18px;
        
    }
    .rodape {
        font-size: 12px;
        text-align: center;
    }
}