body { 
   background-color: rgb(68, 123, 185);
}

.cabecalho{
    background-color: rgb(5, 84, 129);
    color: whitesmoke;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 25px;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 30%;
}

#titulo {
    color: aliceblue;

}

p {
    color: aliceblue;
}

.imgcentro {

}

nav{

}

li{
    display: inline-block;
   

}

li a{
    font-size: 50px;

}

button{
    font-size: 16px;
    color: rgb(39, 7, 24);

}